@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --main-color: #c79425; */
  --main-color: #e6b54c;
  --main-white: #dfdfdf;
  --main-transparence: 0.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  padding-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: var(--main-white);
  cursor: pointer;
  animation: left-appear 3000ms;
}

#logo span {
  color: var(--main-color);
}

nav ul {
  list-style: none;
  display: flex;
  animation: right-appear 3000ms;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  position: relative;

  text-decoration: none;
  font-weight: 600;
  color: var(--main-white);
}

nav ul li a::before {
  position: absolute;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transition: 0.5s;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Home */

#home {
  height: 100vh;

  color: var(--main-white);

  background-image: linear-gradient(
      rgba(0, 0, 0, var(--main-transparence)),
      rgba(0, 0, 0, var(--main-transparence))
    ),
    url(imgs/pumpkin.jpg);
  background-position: center;
  background-size: cover;
}

.home-content {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: bottom-appear 3000ms;
}

.home-content h1 {
  padding-bottom: 1rem;
  font-size: 3rem;
}

.home-content h1 span {
  color: var(--main-color);
}

.home-content p {
  line-height: 1.5rem;
  text-align: center;

  padding-bottom: 2rem;
}

.button {
  outline: none;
  background: none;
  border: 2px solid var(--main-color);
  padding: 0.5rem 3rem;

  font-size: 1rem;
  font-weight: 600;
  color: var(--main-white);

  cursor: pointer;

  transition: 0.5s;
}

.button:hover {
  background-color: var(--main-color);
}

/* Animations */

@keyframes left-appear {
  0% {
    transform: translateX(-170%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-appear {
  0% {
    transform: translateX(170%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bottom-appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
